* {
    margin: 0;
    padding: 0;
}
/* ---- BURGER---- */
#sidebar {
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: rgb(43, 42, 42);
}

#sidebar.active {
    left: -270px;
}

#sidebar ul li {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 15px;
    cursor: pointer;
}

#sidebar ul li:hover {
    color: grey;
}

#sidebar .toggle-btn {
    cursor: pointer;
    left: 290px;
    top: 20px;
    position: absolute;
}

#sidebar .toggle-btn span {
    display: block;
    text-align: center;
    border: 1px solid;
}
/* ---- BURGER---- */
.items {
    text-decoration: none;
    font-family:'Bebas Neue', cursive;
    font-size: 25px;
    color: #ced4da;
}

.subrayado {
    text-decoration: none;
}

.boton {
    height: 40px;
    width: 90px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    background-color: #24272b;
    color: #e0ddda;
    border-style: none;
    margin-right: 20px;
}

.carrousel {
    width: 90%;
    height: 700px;
    padding-left: 140px;
    position:static;
}

.lamparas {
    width: 100%;
    height: 700px;
}

.titulos {
    height: 100px;
    width: 100%;
    background-color: #ced4da;
    font-family: 'Bebas Neue', cursive;
}

.titulosSeparados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.subtitulo {
    text-align: center;
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.articulosCuadrado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 750px;
    width: 470px;
    border: 3px;
    border-color: #24272b;
    margin: 35px;
    padding: 35px;
    border-style: solid;
}

.articulosTitulo {
    font-family:'Bebas Neue', cursive;
    font-size: 27px;
}

.articulosImagen {
    height: 500px;
    width: 300px;
    object-fit: cover;
    margin: 15px;
    padding: 20px;
}

.articulosDescripcion {
    font-family: 'Varela Round', sans-serif;
    font-size: 17px;
}

/* footer */

footer{
    height: 100px;
    width: 100%;
    background-color: #24272b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.textoFooter {
    color: white;
}

/* contacto */

.textoContacto {
    font-family:'Bebas Neue', cursive;
    font-size: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iframe {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.iconos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.iconos--color {
    color: #24272b;
    margin: 5px;
}

.burger {
    color: #ced4da;
}